<section class="w-full flex p-140px h-98vh">
  <div class="w-1/2 flex justify-center items-start">
    <div class="w-2/3">
      <div class="pb-60px">
        <h1 class="font-montserrat text-60px font-bold leading-tight" [innerHTML]="title"></h1>
      </div>
      <div>
        <div class="flex w-full flex-col items-start justify-evenly space-y-30px">
          <app-base-button link="/comparison" content="comparer à une application"></app-base-button>
          <app-base-button link="/config-references" content="comparer à des valeurs de références"></app-base-button>
          <app-base-button link="/measure" content="évaluer avec des tests"></app-base-button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2 flex justify-center items-center">
    <img [ngClass]="(alternative ? 'w-full opacity-10' : 'w-full opacity-100')" src="./assets/Illustration_klee.png" alt="Illustration Klee Analyze data">
  </div>
</section>
