<form [formGroup]="form" class="w-full flex p-140px h-98vh"
      id="formSelect" name="formSelect">
  <fieldset class="w-full flex h-full">
    <div class="w-1/2 flex justify-center items-center">
      <div class="w-2/3">
        <div class="pb-60px">
          <h1 class="font-montserrat text-60px font-bold leading-tight" [innerHTML]="title"></h1>
        </div>
        <div>
          <div class="flex w-full flex-col items-start justify-evenly space-y-30px">
            <app-base-button (click)="submit()" [alternative]="true" content="Charger les données"></app-base-button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-1/2 flex justify-center items-center relative">
      <img [ngClass]="(alternative ? 'w-full opacity-10' : 'w-full opacity-100')" src="./assets/Illustration_klee.png"
           alt="Illustration Klee Analyze data">
      <div class="w-full h-full absolute top-0 left-0 flex justify-center items-center">
        <div class="flex flex-col">
          <label for="applications" class="text-right text-klee_purple-500 uppercase">Sélection de l'application</label>
          <input formControlName="selectNameApp" autocomplete="off" placeholder="écris ici pour ajouter une application"
                 class="select-css-custom w-250px sm:w-500px h-60px bg-klee_gray-50 border border-klee_purple-500
                  px-8 my-2 text-klee_grey-500 focus:ring-0 focus:outline-none"
                 list="applications_list" id="applications" name="applications"/>
          <datalist id="applications_list">
            <option *ngFor="let application of applicationsList" [value]="application.name"></option>
          </datalist>
        </div>
      </div>
    </div>
  </fieldset>
</form>
